#parse ("templates/webpanel.vm")
<html>
<head>
  <title>Landing Page for Project ${projectKey}</title>
  <meta name="decorator" content="atl.general"/>
</head>
<body>
  <h3>${projectKey}: $!projectName</h3>

    <p>
        This is the landing page for Charlie/Project "${projectKey}".
    </p>
    <p>
        This page contains the "atl.refapp.project" Web Panel location. The velocity render context includes the
        following variables:
        <ul>
            <li><b>projectKey</b> - the key of the project that is displayed on this page</li>
        </ul>
    </p>
    <p>
        #set ($notUsed = $context.put("projectKey", $projectKey))
        #webpanels("atl.refapp.project", $context)
    </p>
</body>
</html>
