<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#* @vtlvariable name="redir" type="java.lang.String" *#
#* @vtlvariable name="logoutURI" type="java.lang.String" *#
#* @vtlvariable name="user" type="java.security.Principal" *#
<html>
    <head>
        <title>Logged In</title>
        <meta name="decorator" content="atl.general">
    </head>
    <body>
        <form action="$esc.html($logoutURI)" method="POST">
            $esc.html($user.name)

            <input name="redir" type="hidden" value="$esc.html($redir)">

            <button id="logout"
                    name="logout"
                    type="submit"
                    tabindex="1"
                    accesskey="l">
                <span class="accesskey">L</span>og Out
            </button>
        </form>
    </body>
</html>
