## This is a Web Panel that sits on the RefApp's index page and
## displays a list of all configured project/charlies.
##
#* @vtlvariable name="pluginSettingsFactory" type="com.atlassian.sal.api.pluginsettings.PluginSettingsFactory" *#
<div>
    This is a list of all projects (Charlies) in this RefApp:
    <table style="border: 1px solid #CCCCCC;">
        <thead style="background: #CCCCCC;">
            <tr>
                <td>Key</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
        #foreach ($key in $pluginSettingsFactory.createGlobalSettings().get("charlie.keys"))
            <tr>
                <td><a href="">$key</a></td>
                <td>$pluginSettingsFactory.createSettingsForKey($key).get("charlie.name")</td>
            </tr>
        #end
        </tbody>
    </table>
    <ul>
    </ul>
</div>
