        <div class="refapp-footer">
            <hr/>
            <p>
            Atlassian RefApp $version -
            #set($items = $webInterfaceManager.getDisplayableItems("footer.links", $context))
            #set($first = true)
            #foreach($item in $items)
              #if (!$first)|#end #set($first = false)
              <a id="$item.link.id" href="$item.link.getDisplayableUrl($request, $context)">$item.webLabel.getDisplayableLabel($request, $context)</a>
            #end
            #webpanels("footer.links", $context)
            </p>
        </div>
